/* .App {
  text-align: center;
}
body{
  text-align: center;
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h1style{
  border: 1ps solid black;
  padding: 10px;
  background-color: #61dafb;
  width: 600px;
  border-radius: 10px;
  margin-left: 500px;
  margin-top: 30px;
}

 .btn{
  padding: 8px;
  background-color: #61dafb;
  font-size: 22px;
  border-radius: 8px;
  position: fixed;
} 



.app-container{
  display:flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table{
  border-collapse: collapse;
  width: 100%;
}

th,td{
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th{
  background-color: rgb(60, 60, 255);
}

td{
  background-color: #61dafb;
}

form{
  display: flex;
  gap:5px;
}

form td:last-child{
  display: flex;
  justify-content: space-evenly;
}

form *{
  font-size: 28px;
}

input{
  background-color: violet;
}

.edit{
  background-color: yellow;
  color: red;
}

.add{
  background-color: green;
  color: white;
}
  */


  .back{
    margin-left: 70px;
  }

  .next{
    margin-right: 80px;
  }